{% extends 'base.html' %}

{% block title %}Homepage{% endblock title %}


{% block content %}
<p>HOMEPAGE</p>
{% if request.user.is_authenticated %}
<a href="{% url 'accounts:detail' request.user.pk %}">Account</a>
<a href="{% url 'accounts:update' request.user.pk %}">Update account</a>
<a href="{% url 'accounts:delete' request.user.pk %}">Delete account</a>
<a href="{% url 'accounts:user_questions' request.user.pk %}">All your questions</a>
<a href="{% url 'accounts:user_answers' request.user.pk %}">All your answers</a>
<a href="{% url 'authentication:logout' %}">Logout</a>
{% else %}
<a href="{% url 'authentication:login' %}">Login</a>
<a href="{% url 'authentication:register' %}">Registration</a>
{% endif %}
{% endblock content %}