.img-account {
    height: 370px;
    width: auto;
    max-width: 470px;
}

.form-input {
    padding: 2px;
}

.form-width {
    width:400px;
}

.form-control-inline {
    width: 400px;
    display: inline-block;
}

.help-text {
    display:block;
    text-align:left;
    font-size:12px;
}

.account-detail {
    height: 640px;
}

.answers-area, .questions-area {
    height: 560px;
    overflow-y: auto;
}

.empty {
    height: 120px;
}

.quest-info {

}

.quest-username {
    padding-top:4px;
    padding-bottom:2px;
}

.quest-avatar {
    width:60px;
    height:60px;
    padding: 2px;
}

.quest-time {

}

.h-question {
    padding-bottom: 8px;
    border-bottom: 1px solid #dfdfdf;
}

.question-paginated {
    padding: 5px;
}

li {
    display:block;
}

.extra-li {
    padding: 2px;
    padding-left: 15px;

}

.extra-li:hover {
    border-left: 2px solid #dfdfdf;
}

.question-text {
    width: 635px;
    height: 500px;
}

.long-text {
    display:block;
    width:630px;
    word-wrap:break-word;
    padding: 4px;
}

.long-text-answer {
    display:block;
    width:530px;
    word-wrap:break-word;
    padding: 4px;
}

.div-padding {
    padding-bottom: 50px;
}

img.avatar {
    width:40px;
    height:40px;
}

.homepage-area-question {
    padding-bottom:60px;
}