.img-account {
    height: 380px;
    width: auto;
    max-width: 480px;
}

.form-input {
    padding: 2px;
}

.form-width {
    width:400px;
}

.form-control-inline {
    width: 400px;
    display: inline-block;
}

.help-text {
    display:block;
    text-align:left;
    font-size:12px;
}