{% extends 'base.html' %}

{% block title %}Create answer{% endblock title %}

{% block content %}
<div class="col-md-8 col-md-offset-2 div-padding">
<form class="form-signin" method="post" enctype="multipart/form-data">
        <!-- Token django CSRF -->
        {% csrf_token %}
        <div>
            <h3>{{ question.title }}</h3>
            <hr>
            <span class="long-text-answer">
            {% autoescape off %}
                {{ question.text }}
            {% endautoescape %}
            </span>
        </div>
        <hr>
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-warning alert-dismissible form-width" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times</span>
            </button>
            <strong>Error: </strong>{{ error }}
        </div>
        {% endfor %}
        {{ field.label_tag }}
        <span class="help-text text-info">{{ field.help_text }}</span>
        <div class="form-input">
            {{ field }}
        </div>
        {% endfor %}
        <input class="btn btn-default" value="Save" type="submit">
        <a class="btn btn-link" href="{% url 'questions:detail' question.id %}" >Back</a>
    </form>
</div>
{% endblock content %}